.Booking-form {
  margin: 30px 150px;
}
.Booking-form input {
  display: block;
  margin-top: 30px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  width: 300px;
}
.error {
  color: red;
}

@media only screen and (max-width: 600px) {
  .Booking-form {
    margin: 30px 0px;
  }
  .Booking-form input {
    width: 250px;
  }
}
